/*
 * Global reset
 * Based on Eric Meyer's : http://meyerweb.com/eric/thoughts/2008/01/15/resetting-again/
 */ 
a, abbr, acronym, address, applet, article, aside, audio, 
b, big, blockquote, body,
canvas, caption, center, cite, code, command,
datalist, dd, del, details, dfn, div, dl, dt,
em, embed,
fieldset, figcaption, figure, font, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd, keygen,
label, legend, li,
meter,
nav,
object, ol, output,
p, pre, progress,
q,
s, samp, section, small, source, span, strike, strong, sub, sup,
table, tbody, td, tfoot, th, thead, tr, tt,
u, ul,
var, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	z-index: 1;
}

/*
 * Default HTML5 behaviour for older browsers
 */
article, aside, audio, canvas, command, datalist, 
details, embed, figcaption, figure, footer, header, 
hgroup, keygen, meter, nav, output, progress, 
section, source, video { display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
a {
	text-decoration: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}





.left{float:left;}
.right{float:right;}
.center{margin:0 auto 0 auto;}
.limpiar{clear:both;  display:block;}

li.dragable
{
    list-style-type:none; 
    margin:.5em .5em .5em 0;
    text-align: center;
    width:105px;
    padding: 10px;
    cursor: move;
    float:inherit; 
}

/***************LISTA COLUMNAS*********/
#listCols li
,#listColsUS li
{
    width:90%;
    cursor:default;
}

#listCols li span
,#listColsUS li span
,#listCols li .ui-icon
,#listColsUS li .ui-icon
{
    font-size:7px;
    float:right;
    color:#6e5e5e;
}

#listCols li p
,#listColsUS li p
{
    float:left;
}

#listCols li .ui-icon
,#listColsUS li .ui-icon
{
    margin:0 0 0 10px;
    border: 1px solid #504e4e;
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    -khtml-border-radius: 3px; 
    border-radius: 3px;
}

#listCols li .ui-icon:hover
,#listColsUS li .ui-icon:hover
{
    border: 1px solid #FFFFFF;
    cursor:pointer;
}

#listColsUS li.activo
{
    color:#ffffff;
    background:#5d76ac;
}
.ui-state-highlight { height: 1.5em; line-height: 1.2em;}

/******SECCIONES******/
section .recuadro.r2
{
    height:300px;
}



@media screen and (max-width:480px) 
{

    .grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11,
    .grid_12 {
	    width:100%;
    }
    #cab
    {
        width:100%;
    }
}





